{% extends "base.html" %}

{% block content %}
<h1>Загрузка фотографии</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        <label> {{ form.photo.label }} </label><br>
        {{ form.photo(type="file") }}
        {% for error in form.photo.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
       <div>
        <img src={{img}} alt="">
        </div>
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}